html {
  box-sizing: border-box;
}
/* *,
:after,
:before {
  box-sizing: inherit;
} */

/* 
Gradient v pozadí jde z fialové #615dad do růžové #ffc8da.
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.
*/

body {
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 350px;
  background-color: #283e50;
  border-radius: 7px 7px 0 0;
  margin: 50px 0;
  font-size: 16px;
}

.pt {
  padding-top: 20px;
}

.headerImage {
  width: 100%;
  display: block;
  border-radius: 7px 7px 0 0;
}

.text {
  background-color: #283e50;
  padding: 5px;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: normal;
  margin: 16px 0;
}

.buttons {
  margin: 0;
  padding: 0;
}

.buttons__item {
  list-style-type: none;
}

.buttons__link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.buttons__link--border {
  border-bottom: 1px solid #283e50;
}

.buttons__link--green {
  background-color: #1fcca4;
}

.buttons__link--green:hover,
.buttons__link--green:focus {
  background-color: #1cbb96;
}

.buttons__link--blue {
  background-color: #0197f6;
}

.buttons__link--blue:hover,
.buttons__link--blue:focus {
  background-color: #0090e9;
}

/* styles for Pravidla */

.rules {
  text-align: left;
  list-style-type: decimal;
  margin: 30px;
}

.rules__item {
  padding: 5px;
  line-height: 1.2;
}

.symbol {
  width: 1em;
  height: 1em;
}

.symbol--white {
  filter: invert(100%);
}

.situations {
  padding: 0 15px;
}

.situations__bloc {
  margin: 0;
  padding: 15px;
}

.situations__image {
  width: 100%;
}

.situations__text {
  font-style: italic;
  line-height: 1.2;
  padding-bottom: 15px;
}

@media screen and (min-width: 700px) {
  .container--pravidla {
    display: flex;
    flex-direction: column;
    width: 650px;
  }

  .rules {
    margin-top: 0;
  }

  .situations {
    display: flex;
    flex-wrap: wrap;
  }

  .situations__bloc {
    flex-basis: 50%;
  }

  .situations__text {
    font-size: 12px;
  }
}


/* styles for Hra */

.container--hra {
  max-width: 80vmin;
}

.heading--gameplan {
  font-size: 3.5em;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls__text {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.circle {
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  transform: translateY(3px);
}

.buttons__icon {
  text-decoration: none;
  display: inline-block;
}

.icon {
  padding: 10px;
  margin: 2px;
  border-radius: 3px;
  width: 1.3em;
  height: 1.3em;
}

.game-plan {
  display: flex;
  flex-wrap: wrap;
}

.game-plan button {
  border: 1px solid black;
  width: 8vmin;
  height: 8vmin;
  opacity: 0.4;
}

.game-plan button:hover,
.game-plan button:focus {
  opacity: 0.6;
}
