/* 
Gradient v pozadí jde z fialové #615dad do růžové #ffc8da.
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.
*/

body {
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 450px;
  background-color: #283e50;
  border-radius: 7px 7px 0 0;
  margin: 50px 0;
}

.container--s {
  width: 350px;
  font-size: 16px;
  padding-top: 20px;
}

.headerImage {
  width: 100%;
  display: block;
  border-radius: 7px 7px 0 0;
}

.text {
  background-color: #283e50;
  padding: 15px;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: normal;
  margin: 20px 0;
}

.buttons {
  margin: 0;
  padding: 0;
}

.buttons__item {
  list-style-type: none;
}

.buttons__link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.buttons__link--green {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.buttons__link--green:hover,
.buttons__link--green:focus {
  background-color: #1cbb96;
}

.buttons__link--blue {
  background-color: #0197f6;
}

.buttons__link--blue:hover,
.buttons__link--blue:focus {
  background-color: #0090e9;
}

.rules {
  text-align: left;
  list-style-type: decimal;
  margin: 30px;
}

.rules__item {
  padding: 5px;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon--white {
  filter: invert(100%);
}

.situations__bloc {
  margin: 30px;
}

.situations__image {
  width: 100%;
}

.situations__text {
  font-style: italic;
}
